body{
  font-family: "Slabo 27px", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:500;
}

#content{
opacity:0.8;
background-color:#D3DDDE;
width:580px;
}

a{
font-weight:500;
color:#6D3B22;
}

