body{
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-weight:500;
}

#content{
opacity:0.8;
background-color:#D3DDDE;
width:580px;
}

a{
font-weight:500;
color:#6D3B22;
}

