---
layout: page
---
<div class="container">
        <div class="row">
                {% for network in site.data.contact %}
                <div class="col-md-3 col-sm-3 portfolio-item" style="text-align: center;">
                        <a href="{{ network.url }}" class="portfolio-link" data-toggle="modal">
                                <div class="portfolio-hover">
                                        <div class="portfolio-hover-content img-circle">
                                                <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                </div>
                                <i class="fa fa-{{ network.icon }} fa-5x"></i>
                        </a>
                        <div class="portfolio-caption">
                                <p class="text-muted">{{ network.description }}</p>
                                <h1>{{ network.name }}</h1>
                        </div>
                </div>
                {% endfor %}
        </div>
</div>

